.text{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    color: #777;
    text-align: justify;
    padding: 50px 80px;
}